<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.revanmj.stormmonitor"
    android:versionCode="34"
    android:versionName="1.5.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/menu_about">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.revanmj.stormmonitor.MainActivity" />
        </activity>
        <activity
            android:name=".MapActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_map"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.revanmj.stormmonitor.MainActivity" />
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.revanmj.stormmonitor.MainActivity" />
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.revanmj.stormmonitor.MainActivity" />
        </activity>

        <provider
            android:name=".data.StormDataProvider"
            android:authorities="pl.revanmj.provider.StormData" />

        <receiver android:name=".CitiesWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/cities_widget_info" />
        </receiver>

        <service
            android:name=".WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="a13f1a8d8359fda1ea856cb5907b8aa64fde7d9b" />

    </application>

</manifest>
